In [34]:
# Importing Necessary Libraries
import pandas as pd
import numpy as np
from google.colab import files
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from imblearn.over_sampling import SMOTE,SMOTENC
from tqdm import tqdm

# Importing the ML algorithms
import xgboost as xgb
from sklearn.linear_model import LogisticRegression
from sklearn.neighbors import KNeighborsClassifier
from sklearn.ensemble import RandomForestClassifier
from dataclasses import dataclass

# Importing accuracy metrics
from sklearn.metrics import confusion_matrix
from sklearn.metrics import recall_score
from sklearn.metrics import accuracy_score
from sklearn.metrics import f1_score
from sklearn.metrics import precision_score
from sklearn.metrics import confusion_matrix
from sklearn.metrics import ConfusionMatrixDisplay

In [2]:
#Data Reading
Original_df=pd.read_csv("diabetic_data_uci.csv")

In [3]:
Copy_df = Original_df.copy()

In [4]:
Copy_df.head()

,encounter_id,patient_nbr,race,gender,age,weight,admission_type_id,discharge_disposition_id,admission_source_id,time_in_hospital,...,citoglipton,insulin,glyburide-metformin,glipizide-metformin,glimepiride-pioglitazone,metformin-rosiglitazone,metformin-pioglitazone,change,diabetesMed,readmitted
0,2278392,8222157,Caucasian,Female,[0-10),?,6,25,1,1,...,No,No,No,No,No,No,No,No,No,NO
1,149190,55629189,Caucasian,Female,[10-20),?,1,1,7,3,...,No,Up,No,No,No,No,No,Ch,Yes,>30
2,64410,86047875,AfricanAmerican,Female,[20-30),?,1,1,7,2,...,No,No,No,No,No,No,No,No,Yes,NO
3,500364,82442376,Caucasian,Male,[30-40),?,1,1,7,2,...,No,Up,No,No,No,No,No,Ch,Yes,NO
4,16680,42519267,Caucasian,Male,[40-50),?,1,1,7,1,...,No,Steady,No,No,No,No,No,Ch,Yes,NO

In [5]:
#Code block to analyze the improtance of features
print(Copy_df.describe())

#Printing the data types and missing values
print(Copy_df.info())

#Getting the unique values for each column
print("\nUnique Values in Each Column:")
for col in Copy_df.columns:
    print(f"\nColumn: {col}")
    print(Copy_df[col].value_counts())

       encounter_id   patient_nbr  admission_type_id  \
count  2.779300e+04  2.779300e+04       27793.000000
mean   5.250293e+07  2.566143e+07           2.320836
std    2.417376e+07  3.197322e+07           1.732156
min    1.252200e+04  1.350000e+02           1.000000
25%    3.365125e+07  3.016755e+06           1.000000
50%    5.467619e+07  1.277532e+07           2.000000
75%    7.310811e+07  2.580014e+07           3.000000
max    9.107977e+07  1.152184e+08           8.000000

       discharge_disposition_id  admission_source_id  time_in_hospital  \
count              27793.000000         27793.000000      27793.000000
mean                   5.337603             6.820350          4.709711
std                    6.956722             5.057342          3.142485
min                    1.000000             1.000000          1.000000
25%                    1.000000             2.000000          2.000000
50%                    1.000000             7.000000          4.000000
75%                    6.000000             7.000000          6.000000
max                   25.000000            20.000000         14.000000

       num_lab_procedures  num_procedures  num_medications  number_outpatient  \
count        27793.000000    27793.000000     27793.000000       27793.000000
mean            45.159357        1.426007        15.311265           0.158205
std             18.426337        1.745317         8.106885           0.718048
min              1.000000        0.000000         1.000000           0.000000
25%             33.000000        0.000000        10.000000           0.000000
50%             46.000000        1.000000        14.000000           0.000000
75%             58.000000        2.000000        19.000000           0.000000
max            129.000000        6.000000        63.000000          20.000000

       number_emergency  number_inpatient  number_diagnoses
count      27793.000000      27793.000000      27792.000000
mean           0.069946          0.603317          6.826641
std            0.454936          1.212693          2.037456
min            0.000000          0.000000          1.000000
25%            0.000000          0.000000          5.000000
50%            0.000000          0.000000          7.000000
75%            0.000000          1.000000          9.000000
max           25.000000         17.000000          9.000000
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27793 entries, 0 to 27792
Data columns (total 50 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   encounter_id              27793 non-null  int64
 1   patient_nbr               27793 non-null  int64
 2   race                      27793 non-null  object
 3   gender                    27793 non-null  object
 4   age                       27793 non-null  object
 5   weight                    27793 non-null  object
 6   admission_type_id         27793 non-null  int64
 7   discharge_disposition_id  27793 non-null  int64
 8   admission_source_id       27793 non-null  int64
 9   time_in_hospital          27793 non-null  int64
 10  payer_code                27793 non-null  object
 11  medical_specialty         27793 non-null  object
 12  num_lab_procedures        27793 non-null  int64
 13  num_procedures            27793 non-null  int64
 14  num_medications           27793 non-null  int64
 15  number_outpatient         27793 non-null  int64
 16  number_emergency          27793 non-null  int64
 17  number_inpatient          27793 non-null  int64
 18  diag_1                    27793 non-null  object
 19  diag_2                    27793 non-null  object
 20  diag_3                    27792 non-null  object
 21  number_diagnoses          27792 non-null  float64
 22  max_glu_serum             27792 non-null  object
 23  A1Cresult                 27792 non-null  object
 24  metformin                 27792 non-null  object
 25  repaglinide               27792 non-null  object
 26  nateglinide               27792 non-null  object
 27  chlorpropamide            27792 non-null  object
 28  glimepiride               27792 non-null  object
 29  acetohexamide             27792 non-null  object
 30  glipizide                 27792 non-null  object
 31  glyburide                 27792 non-null  object
 32  tolbutamide               27792 non-null  object
 33  pioglitazone              27792 non-null  object
 34  rosiglitazone             27792 non-null  object
 35  acarbose                  27792 non-null  object
 36  miglitol                  27792 non-null  object
 37  troglitazone              27792 non-null  object
 38  tolazamide                27792 non-null  object
 39  examide                   27792 non-null  object
 40  citoglipton               27792 non-null  object
 41  insulin                   27792 non-null  object
 42  glyburide-metformin       27792 non-null  object
 43  glipizide-metformin       27792 non-null  object
 44  glimepiride-pioglitazone  27792 non-null  object
 45  metformin-rosiglitazone   27792 non-null  object
 46  metformin-pioglitazone    27792 non-null  object
 47  change                    27792 non-null  object
 48  diabetesMed               27792 non-null  object
 49  readmitted                27792 non-null  object
dtypes: float64(1), int64(12), object(37)
memory usage: 10.6+ MB
None

Unique Values in Each Column:

Column: encounter_id
2278392     1
66937980    1
66981984    1
66979788    1
66978618    1
           ..
40672206    1
40672086    1
40671174    1
40668444    1
91079766    1
Name: encounter_id, Length: 27793, dtype: int64

Column: patient_nbr
1660293     23
3401055     18
3481272     18
23643405    18
384939      16
            ..
2709846      1
4268547      1
1664982      1
42633774     1
81684747     1
Name: patient_nbr, Length: 20733, dtype: int64

Column: race
Caucasian          20340
AfricanAmerican     5840
Hispanic             635
?                    495
Other                355
Asian                128
Name: race, dtype: int64

Column: gender
Female    14823
Male      12970
Name: gender, dtype: int64

Column: age
[70-80)     7331
[60-70)     5983
[50-60)     5042
[80-90)     3704
[40-50)     3002
[30-40)     1235
[90-100)     528
[20-30)      454
[10-20)      385
[0-10)       129
Name: age, dtype: int64

Column: weight
?            26870
[75-100)       401
[50-75)        267
[100-125)      145
[0-25)          37
[125-150)       34
[25-50)         32
[150-175)        5
[175-200)        1
>200             1
Name: weight, dtype: int64

Column: admission_type_id
1    13854
2     4458
3     4413
6     3017
5     2000
8       47
4        4
Name: admission_type_id, dtype: int64

Column: discharge_disposition_id
1     15214
18     3657
6      2883
3      2720
25      962
5       749
2       458
11      420
22      184
4       172
7       148
8        84
14       81
13       22
23       11
16        9
17        9
10        6
12        3
9         1
Name: discharge_disposition_id, dtype: int64

Column: admission_source_id
7     13631
1      6353
17     4173
4      1744
2       750
6       516
5       294
20      160
3       156
9         9
8         7
Name: admission_source_id, dtype: int64

Column: time_in_hospital
3     4521
2     4372
4     3799
1     3398
5     2797
6     2172
7     1694
8     1382
9      939
10     796
11     610
12     509
13     420
14     384
Name: time_in_hospital, dtype: int64

Column: payer_code
?     26144
MC      873
HM      292
UN      170
MD      101
BC       90
CP       41
SP       25
PO       23
CM       11
DM        9
SI        6
CH        5
WC        2
OT        1
Name: payer_code, dtype: int64

Column: medical_specialty
?                                       10951
InternalMedicine                         5291
Family/GeneralPractice                   3278
Cardiology                               2068
Surgery-General                           940
Orthopedics-Reconstructive                552
Nephrology                                472
Orthopedics                               467
Psychiatry                                429
Pulmonology                               395
Emergency/Trauma                          353
ObstetricsandGynecology                   329
Urology                                   327
Surgery-Cardiovascular/Thoracic           312
PhysicalMedicineandRehabilitation         279
Surgery-Neuro                             204
Hematology/Oncology                       164
Pediatrics                                164
Pediatrics-Endocrinology                  159
Gastroenterology                          123
Pediatrics-CriticalCare                    87
Endocrinology                              65
Otolaryngology                             57
Radiology                                  33
Psychology                                 25
Obsterics&Gynecology-GynecologicOnco       25
Pediatrics-Pulmonology                     25
Neurology                                  23
Anesthesiology-Pediatric                   19
Oncology                                   17
Surgery-Thoracic                           15
Surgery-Plastic                            14
Gynecology                                 14
Surgery-Vascular                           12
Surgery-Colon&Rectal                       11
InfectiousDiseases                         11
Pediatrics-Neurology                       10
Osteopath                                   8
Surgery-Pediatric                           7
Psychiatry-Child/Adolescent                 7
Podiatry                                    6
AllergyandImmunology                        6
Rheumatology                                5
Surgeon                                     5
Pediatrics-Hematology-Oncology              4
Surgery-Cardiovascular                      3
Pediatrics-AllergyandImmunology             3
Pediatrics-EmergencyMedicine                3
Surgery-Maxillofacial                       3
Anesthesiology                              3
Ophthalmology                               3
PhysicianNotFound                           2
Pediatrics-InfectiousDiseases               1
Dentistry                                   1
Psychiatry-Addictive                        1
Surgery-PlasticwithinHeadandNeck            1
Hematology                                  1
Name: medical_specialty, dtype: int64

Column: num_lab_procedures
46     683
44     675
47     661
45     646
48     634
      ...
111      1
129      1
107      1
108      1
104      1
Name: num_lab_procedures, Length: 112, dtype: int64

Column: num_procedures
0    12149
1     5706
2     3448
3     2759
6     1340
4     1241
5     1150
Name: num_procedures, dtype: int64

Column: num_medications
12    1754
13    1734
11    1715
10    1642
14    1557
      ...
62       3
61       3
58       2
60       1
63       1
Name: num_medications, Length: 63, dtype: int64

Column: number_outpatient
0     25599
1      1210
2       443
3       262
4       122
5        80
6        30
7        14
8        11
9         5
10        4
12        4
15        2
11        2
13        2
20        1
14        1
16        1
Name: number_outpatient, dtype: int64

Column: number_emergency
0     26537
1       903
2       217
3        67
4        37
5        11
6         7
7         4
8         4
22        2
9         1
25        1
10        1
13        1
Name: number_emergency, dtype: int64

Column: number_inpatient
0     18808
1      5179
2      2013
3       853
4       437
5       208
6       127
7        68
8        34
9        25
10       13
11       11
12        6
13        4
15        3
14        2
17        1
16        1
Name: number_inpatient, dtype: int64

Column: diag_1
414    2527
428    1979
786    1343
410    1262
486     812
       ...
160       1
322       1
991       1
229       1
172       1
Name: diag_1, Length: 570, dtype: int64

Column: diag_2
250     1914
428     1895
276     1566
427     1320
401     1156
        ...
9          1
299        1
967        1
E858       1
811        1
Name: diag_2, Length: 550, dtype: int64

Column: diag_3
250     3424
401     2486
414     1250
276     1086
428     1065
        ...
259        1
383        1
47         1
E943       1
384        1
Name: diag_3, Length: 595, dtype: int64

Column: number_diagnoses
9.0    8838
8.0    3797
5.0    3779
7.0    3652
6.0    3601
4.0    2185
3.0    1262
2.0     539
1.0     139
Name: number_diagnoses, dtype: int64

Column: max_glu_serum
None    24632
Norm     1540
>200      945
>300      675
Name: max_glu_serum, dtype: int64

Column: A1Cresult
None    22820
>8       3014
Norm      985
>7        973
Name: A1Cresult, dtype: int64

Column: metformin
No        22849
Steady     4396
Up          376
Down        171
Name: metformin, dtype: int64

Column: repaglinide
No        27523
Steady      233
Up           22
Down         14
Name: repaglinide, dtype: int64

Column: nateglinide
No        27731
Steady       60
Down          1
Name: nateglinide, dtype: int64

Column: chlorpropamide
No        27733
Steady       54
Up            4
Down          1
Name: chlorpropamide, dtype: int64

Column: glimepiride
No        26837
Steady      811
Up          103
Down         41
Name: glimepiride, dtype: int64

Column: acetohexamide
No        27791
Steady        1
Name: acetohexamide, dtype: int64

Column: glipizide
No        24307
Steady     2982
Up          304
Down        199
Name: glipizide, dtype: int64

Column: glyburide
No        23617
Steady     3542
Up          368
Down        265
Name: glyburide, dtype: int64

Column: tolbutamide
No        27778
Steady       14
Name: tolbutamide, dtype: int64

Column: pioglitazone
No        26457
Steady     1235
Up           67
Down         33
Name: pioglitazone, dtype: int64

Column: rosiglitazone
No        26029
Steady     1662
Up           70
Down         31
Name: rosiglitazone, dtype: int64

Column: acarbose
No        27703
Steady       84
Up            5
Name: acarbose, dtype: int64

Column: miglitol
No        27788
Steady        4
Name: miglitol, dtype: int64

Column: troglitazone
No        27789
Steady        3
Name: troglitazone, dtype: int64

Column: tolazamide
No        27763
Steady       28
Up            1
Name: tolazamide, dtype: int64

Column: examide
No    27792
Name: examide, dtype: int64

Column: citoglipton
No    27792
Name: citoglipton, dtype: int64

Column: insulin
No        15285
Steady     8523
Down       2428
Up         1556
Name: insulin, dtype: int64

Column: glyburide-metformin
No        27765
Steady       24
Up            2
Down          1
Name: glyburide-metformin, dtype: int64

Column: glipizide-metformin
No    27792
Name: glipizide-metformin, dtype: int64

Column: glimepiride-pioglitazone
No    27792
Name: glimepiride-pioglitazone, dtype: int64

Column: metformin-rosiglitazone
No    27792
Name: metformin-rosiglitazone, dtype: int64

Column: metformin-pioglitazone
No    27792
Name: metformin-pioglitazone, dtype: int64

Column: change
No    17272
Ch    10520
Name: change, dtype: int64

Column: diabetesMed
Yes    20376
No      7416
Name: diabetesMed, dtype: int64

Column: readmitted
NO     15340
>30     9248
<30     3204
Name: readmitted, dtype: int64




1.   **Gender has Unknown/Invalid values as per our summary**
2.   **Missing values have been represented with ? which needs to be processed**

In [6]:
Copy_df.dtypes

encounter_id                  int64
patient_nbr                   int64
race                         object
gender                       object
age                          object
weight                       object
admission_type_id             int64
discharge_disposition_id      int64
admission_source_id           int64
time_in_hospital              int64
payer_code                   object
medical_specialty            object
num_lab_procedures            int64
num_procedures                int64
num_medications               int64
number_outpatient             int64
number_emergency              int64
number_inpatient              int64
diag_1                       object
diag_2                       object
diag_3                       object
number_diagnoses            float64
max_glu_serum                object
A1Cresult                    object
metformin                    object
repaglinide                  object
nateglinide                  object
chlorpropamide               object
glimepiride                  object
acetohexamide                object
glipizide                    object
glyburide                    object
tolbutamide                  object
pioglitazone                 object
rosiglitazone                object
acarbose                     object
miglitol                     object
troglitazone                 object
tolazamide                   object
examide                      object
citoglipton                  object
insulin                      object
glyburide-metformin          object
glipizide-metformin          object
glimepiride-pioglitazone     object
metformin-rosiglitazone      object
metformin-pioglitazone       object
change                       object
diabetesMed                  object
readmitted                   object
dtype: object



*   **The categorical values will have to be encoded for the model**
*   **Handling the null values by coverting them to NaN and then checking columns for more than required (30%) null values**

In [7]:
# replacing ? and invalid values with with Nan
Copy_df = Copy_df.replace(["?", "Unknown/Invalid"], np.nan)
# Checking for % of null values
(Copy_df.isna().sum()*100/len(Copy_df))[(Copy_df.isna().sum()*100/len(Copy_df))>30]

weight               96.679020
payer_code           94.066851
medical_specialty    39.402008
dtype: float64

**Dropping the columns Weight, Payer_Code and Medical_Speciality**

In [8]:
Copy_df=Copy_df.drop(['weight','payer_code','medical_specialty'],axis=1)

**Checking the percentage of null values**

In [9]:
null_percentage = (Copy_df.isna().sum() * 100 / len(Copy_df))
null_percentage = null_percentage[null_percentage > 0]
print(null_percentage)

race                        1.781024
diag_1                      0.028784
diag_2                      0.572086
diag_3                      2.547404
number_diagnoses            0.003598
max_glu_serum               0.003598
A1Cresult                   0.003598
metformin                   0.003598
repaglinide                 0.003598
nateglinide                 0.003598
chlorpropamide              0.003598
glimepiride                 0.003598
acetohexamide               0.003598
glipizide                   0.003598
glyburide                   0.003598
tolbutamide                 0.003598
pioglitazone                0.003598
rosiglitazone               0.003598
acarbose                    0.003598
miglitol                    0.003598
troglitazone                0.003598
tolazamide                  0.003598
examide                     0.003598
citoglipton                 0.003598
insulin                     0.003598
glyburide-metformin         0.003598
glipizide-metformin         0.003598
glimepiride-pioglitazone    0.003598
metformin-rosiglitazone     0.003598
metformin-pioglitazone      0.003598
change                      0.003598
diabetesMed                 0.003598
readmitted                  0.003598
dtype: float64


*   All the columns do not have more than 3% missing values
*   There are only two options either imputing them or dropping them. Imputing however is not recommended in the healthcare setting. thus if the percentage of loss of dropping is less, we can decide to drop them
*   For, this we have to find the % loss for rows to see the impact of dropping them

In [10]:
(Copy_df.shape[0]-Copy_df.dropna(axis=0).shape[0])*100/Copy_df.dropna(axis=0).shape[0]

4.516395908543923

**Since the loss is just 3% we can proceed with dropping these rows without losing too much information**

In [11]:
Copy_df.dropna(axis=0,inplace=True)

In [12]:
Copy_df.isna().sum()

encounter_id                0
patient_nbr                 0
race                        0
gender                      0
age                         0
admission_type_id           0
discharge_disposition_id    0
admission_source_id         0
time_in_hospital            0
num_lab_procedures          0
num_procedures              0
num_medications             0
number_outpatient           0
number_emergency            0
number_inpatient            0
diag_1                      0
diag_2                      0
diag_3                      0
number_diagnoses            0
max_glu_serum               0
A1Cresult                   0
metformin                   0
repaglinide                 0
nateglinide                 0
chlorpropamide              0
glimepiride                 0
acetohexamide               0
glipizide                   0
glyburide                   0
tolbutamide                 0
pioglitazone                0
rosiglitazone               0
acarbose                    0
miglitol                    0
troglitazone                0
tolazamide                  0
examide                     0
citoglipton                 0
insulin                     0
glyburide-metformin         0
glipizide-metformin         0
glimepiride-pioglitazone    0
metformin-rosiglitazone     0
metformin-pioglitazone      0
change                      0
diabetesMed                 0
readmitted                  0
dtype: int64

**Now there are no missing values in the dataset**

In [13]:
# Checking the distribution of the categorical variables 'examide' and 'citoglipton'
print(Copy_df['examide'].value_counts())
print(Copy_df['citoglipton'].value_counts())

# Since within the boundaries of our dataset both 'examide' and 'citoglipton' have only one category we will be dropping these columns as they don't add much value for prediction
Copy_df = Copy_df.drop(columns=['examide', 'citoglipton'])

No    26592
Name: examide, dtype: int64
No    26592
Name: citoglipton, dtype: int64

In [14]:
# Printing the df to verify
Copy_df.head()

,encounter_id,patient_nbr,race,gender,age,admission_type_id,discharge_disposition_id,admission_source_id,time_in_hospital,num_lab_procedures,...,tolazamide,insulin,glyburide-metformin,glipizide-metformin,glimepiride-pioglitazone,metformin-rosiglitazone,metformin-pioglitazone,change,diabetesMed,readmitted
1,149190,55629189,Caucasian,Female,[10-20),1,1,7,3,59,...,No,Up,No,No,No,No,No,Ch,Yes,>30
2,64410,86047875,AfricanAmerican,Female,[20-30),1,1,7,2,11,...,No,No,No,No,No,No,No,No,Yes,NO
3,500364,82442376,Caucasian,Male,[30-40),1,1,7,2,44,...,No,Up,No,No,No,No,No,Ch,Yes,NO
4,16680,42519267,Caucasian,Male,[40-50),1,1,7,1,51,...,No,Steady,No,No,No,No,No,Ch,Yes,NO
5,35754,82637451,Caucasian,Male,[50-60),2,1,2,3,31,...,No,Steady,No,No,No,No,No,No,Yes,>30

Now we have the basic processed data to use for our model

In [15]:
Copy_df.to_csv('clean_data.csv', index=False)
files.download('clean_data.csv')

**Coming to the data dictionary,**
*   **The categories within 'admission type', 'discharge disposition', and 'admission source' are similar, so by merging these categories, we can decrease the number of columns created during the encoding process.**
*   **For the 'admission_type' column, similar categories are remapped as follows: 'Urgent' (2) and 'Trauma Center' (7) are combined into the 'Emergency' (1) category. Additionally, 'NULL' (6) and 'Not Mapped' (8) are consolidated into the 'Not Available' (5) category.**
*   **For the 'discharge_disposition' column, similar categories are remapped: e.g. 'Discharged/transferred to home with home health service' (6), 'Discharged/transferred to home under care of Home IV provider' (8) and 'Hospice / home' (13) are combined into the 'Discharged to home' (1) category.**
*   **For the 'admission_source' column, similar categories are remapped: e.g. 'Clinic Referral' (2) and 'HMO Referral' (3) are combined into the ' Physician Referral' (1) category.**

In [16]:
Copy_df = pd.read_csv('clean_data.csv')

In [17]:
def remap_admission_type(admission_type_id):
    if admission_type_id in [2, 7]:
        return 1  # Urgent and Trauma Center is mapped to Emergency
    elif admission_type_id in [6, 8]:
        return 5  # NULL and Not Mapped are mapped to Not Available
    else:
        return admission_type_id

Copy_df['admission_type_id'] = Copy_df['admission_type_id'].apply(remap_admission_type)

In [18]:
def remap_discharge_disposition(discharge_disposition_id):
    if discharge_disposition_id in [6, 8, 13]:
        return 1  # Merging categories into 1
    elif discharge_disposition_id in [9, 12, 15, 16, 17]:
        return 5  # Merging categories into 5
    elif discharge_disposition_id in [3, 4, 5, 14, 22, 23, 24]:
        return 2  # Merging categories into 2
    elif discharge_disposition_id in [25, 26]:
        return 18  # Merging categories into 18
    else:
        return discharge_disposition_id

Copy_df['discharge_disposition_id'] = Copy_df['discharge_disposition_id'].apply(remap_discharge_disposition)

In [19]:
def remap_admission_source(admission_source_id):
    if admission_source_id in [2, 3]:
        return 1  # Merging categories into 1
    elif admission_source_id in [5, 6, 10, 22, 25]:
        return 4  # Merging categories into 4
    elif admission_source_id in [15, 17, 20, 21]:
        return 9  # Merging categories into 9
    elif admission_source_id in [13, 14]:
        return 11  # Merging categories into 11
    else:
        return admission_source_id

Copy_df['admission_source_id'] = Copy_df['admission_source_id'].apply(remap_admission_source)

**Encoding of variables**

In [20]:
# Using replace function to combine categories and encode them to numerical values
Copy_df['change'] = Copy_df['change'].replace({'Ch': 1, 'No': 0})
Copy_df['gender'] = Copy_df['gender'].replace({'Male': 1, 'Female': 0})
Copy_df['diabetesMed'] = Copy_df['diabetesMed'].replace({'Yes': 1, 'No': 0})

Ecoding to combine categories

In [21]:
medicine_columns = ['metformin', 'repaglinide', 'nateglinide', 'chlorpropamide', 'glimepiride', 'glipizide', 'glyburide', 'pioglitazone', 'rosiglitazone', 'acarbose', 'miglitol', 'insulin', 'glyburide-metformin', 'tolazamide', 'metformin-pioglitazone','metformin-rosiglitazone', 'glimepiride-pioglitazone', 'glipizide-metformin', 'troglitazone', 'tolbutamide', 'acetohexamide']
Copy_df[medicine_columns] = Copy_df[medicine_columns].replace({'No': 0, 'Steady': 1, 'Up': 1, 'Down': 1})

**Revising the variables in test result columns such as 'A1cresult' and 'max_glu_serum', where the 'None' value is assigned a negative numerical representation for differentiation purposes.**

In [22]:
Copy_df['A1Cresult'] = Copy_df['A1Cresult'].replace({'>7': 1, '>8': 1, 'Norm': 0, 'None': -100})
Copy_df['max_glu_serum'] = Copy_df['max_glu_serum'].replace({'>200': 1, '>300': 1, 'Norm': 0, 'None': -100})

**Age is given as a range. Thus taking midpoints to replace it as a single value to see patterns**

In [23]:
Copy_df.age.value_counts()

[70-80)     7141
[60-70)     5798
[50-60)     4853
[80-90)     3626
[40-50)     2844
[30-40)     1146
[90-100)     518
[20-30)      397
[10-20)      220
[0-10)        49
Name: age, dtype: int64

In [24]:
age_midpoints = {
    '[0-10)': 5,
    '[10-20)': 15,
    '[20-30)': 25,
    '[30-40)': 35,
    '[40-50)': 45,
    '[50-60)': 55,
    '[60-70)': 65,
    '[70-80)': 75,
    '[80-90)': 85,
    '[90-100)': 95
}
Copy_df['age'] = Copy_df['age'].replace(age_midpoints)

**Finally, we encode the target variable as we are looking to deal with a binary classification problem. thus we will consider just two categories i.e., <= 30 days is readmitted while >30 and NO are not readmitted**

In [25]:
# Encoding the Target Variable using a lambda function
Copy_df['readmitted'] = Copy_df['readmitted'].apply(lambda x: 0 if x in ['>30', 'NO'] else 1)

**Processing the diagnosis variable by grouping them into specific diagnostic categories, thereby streamlining the number of variables produced for each diagnostic field.**

In [26]:
# Use the next block as another way
'''
def categorize_diagnosis(x):
    x = str(x)
    if "V" in x or "E" in x:
        return "Other"
    elif "250" in x:
        return "Diabetes"
    try:
        x = int(float(x))
        if 390 <= x <= 459 or x == 785:
            return "Circulatory"
        elif 460 <= x <= 519 or x == 786:
            return "Respiratory"
        elif 520 <= x <= 579 or x == 787:
            return "Digestive"
        elif 580 <= x <= 629 or x == 788:
            return "Genitourinary"
        elif 140 <= x <= 239:
            return "Neoplasms"
        elif 710 <= x <= 739:
            return "Musculoskeletal"
        elif 800 <= x <= 999:
            return "Injury"
    except ValueError:
        pass
    return "Other"

# Apply the categorize_diagnosis function to the 'diag_1' column
Copy_df['diag_cat'] = Copy_df['diag_1'].apply(categorize_diagnosis)

# Drop the 'diag_2' and 'diag_3' columns
Copy_df = Copy_df.drop(['diag_2', 'diag_3'], axis=1)
'''

'\ndef categorize_diagnosis(x):\n    x = str(x)\n    if "V" in x or "E" in x:\n        return "Other"\n    elif "250" in x:\n        return "Diabetes"\n    try:\n        x = int(float(x))\n        if 390 <= x <= 459 or x == 785:\n            return "Circulatory"\n        elif 460 <= x <= 519 or x == 786:\n            return "Respiratory"\n        elif 520 <= x <= 579 or x == 787:\n            return "Digestive"\n        elif 580 <= x <= 629 or x == 788:\n            return "Genitourinary"\n        elif 140 <= x <= 239:\n            return "Neoplasms"\n        elif 710 <= x <= 739:\n            return "Musculoskeletal"\n        elif 800 <= x <= 999:\n            return "Injury"\n    except ValueError:\n        pass\n    return "Other"\n\n# Apply the categorize_diagnosis function to the \'diag_1\' column\nCopy_df[\'diag_cat\'] = Copy_df[\'diag_1\'].apply(categorize_diagnosis)\n\n# Drop the \'diag_2\' and \'diag_3\' columns\nCopy_df = Copy_df.drop([\'diag_2\', \'diag_3\'], axis=1)\n'

In [27]:
# Define the function to check for diabetes in three columns of a DataFrame
def combined_diagnosis(row):
    # Define the inner function to check a single diagnosis code
    def is_diabetes(code):
        code = str(code)
        return '250' in code  # Assuming '250' is the code for diabetes

    # Check each of the three columns for diabetes
    for col in ['diag_1', 'diag_2', 'diag_3']:
        if is_diabetes(row[col]):
            return 'Diabetes'

    # If none of the columns contain '250', return 'Other'
    return 'Other'

# Apply the function to each row of the DataFrame
Copy_df['diag_cat'] = Copy_df.apply(combined_diagnosis, axis=1)
Copy_df = Copy_df.drop(['diag_1', 'diag_2', 'diag_3'], axis=1)

**For the final preprocessed data, we will do One Hot Encoding**

In [28]:
# Using get_dummies to generate encoded columns for specified categories in Copy_df
Copy_df = pd.get_dummies(Copy_df, columns=['gender', 'admission_type_id', 'discharge_disposition_id',
                                           'admission_source_id', 'max_glu_serum', 'A1Cresult', 'diag_cat'], drop_first=True)

# Creating dummy variables for 'race' and concatenate them with Copy_df
race_dummies = pd.get_dummies(Copy_df['race'])
Copy_df = pd.concat([Copy_df, race_dummies], axis=1)
Copy_df.drop(['race'], inplace=True, axis=1)

# Displaying the first few rows
print(Copy_df.head())

# Dropping duplicates based on 'patient_nbr', keeping the first occurrence
Copy_df = Copy_df.drop_duplicates(subset='patient_nbr', keep='first')

   encounter_id  patient_nbr  age  time_in_hospital  num_lab_procedures  \
0        149190     55629189   15                 3                  59
1         64410     86047875   25                 2                  11
2        500364     82442376   35                 2                  44
3         16680     42519267   45                 1                  51
4         35754     82637451   55                 3                  31

   num_procedures  num_medications  number_outpatient  number_emergency  \
0               0               18                  0                 0
1               5               13                  2                 0
2               1               16                  0                 0
3               0                8                  0                 0
4               6               16                  0                 0

   number_inpatient  ...  max_glu_serum_0  max_glu_serum_1  A1Cresult_0  \
0                 0  ...                0                0            0
1                 1  ...                0                0            0
2                 0  ...                0                0            0
3                 0  ...                0                0            0
4                 0  ...                0                0            0

   A1Cresult_1  diag_cat_Other  AfricanAmerican  Asian  Caucasian  Hispanic  \
0            0               0                0      0          1         0
1            0               0                1      0          0         0
2            0               0                0      0          1         0
3            0               0                0      0          1         0
4            0               0                0      0          1         0

   Other
0      0
1      0
2      0
3      0
4      0

[5 rows x 59 columns]

In [29]:
Copy_df.to_csv('final_data.csv', index=False)
files.download('final_data.csv')

In [37]:
Copy_df.dtypes

encounter_id                     int64
patient_nbr                      int64
age                              int64
time_in_hospital                 int64
num_lab_procedures               int64
num_procedures                   int64
num_medications                  int64
number_outpatient                int64
number_emergency                 int64
number_inpatient                 int64
number_diagnoses               float64
metformin                        int64
repaglinide                      int64
nateglinide                      int64
chlorpropamide                   int64
glimepiride                      int64
acetohexamide                    int64
glipizide                        int64
glyburide                        int64
tolbutamide                      int64
pioglitazone                     int64
rosiglitazone                    int64
acarbose                         int64
miglitol                         int64
troglitazone                     int64
tolazamide                       int64
insulin                          int64
glyburide-metformin              int64
glipizide-metformin              int64
glimepiride-pioglitazone         int64
metformin-rosiglitazone          int64
metformin-pioglitazone           int64
change                           int64
diabetesMed                      int64
readmitted                       int64
gender_1                         uint8
admission_type_id_3              uint8
admission_type_id_4              uint8
admission_type_id_5              uint8
discharge_disposition_id_2       uint8
discharge_disposition_id_5       uint8
discharge_disposition_id_7       uint8
discharge_disposition_id_10      uint8
discharge_disposition_id_11      uint8
discharge_disposition_id_18      uint8
admission_source_id_4            uint8
admission_source_id_7            uint8
admission_source_id_8            uint8
admission_source_id_9            uint8
max_glu_serum_0                  uint8
max_glu_serum_1                  uint8
A1Cresult_0                      uint8
A1Cresult_1                      uint8
diag_cat_Other                   uint8
AfricanAmerican                  uint8
Asian                            uint8
Caucasian                        uint8
Hispanic                         uint8
Other                            uint8
dtype: object

In [43]:
@dataclass
class LogisticRegression:
    learning_rate: float
    epsilon: float
    max_iteration: int
    Copy_df: pd.DataFrame
    target_column: str
    X: np.ndarray = None
    y: np.ndarray = None
    X_train: np.ndarray = None
    X_test: np.ndarray = None
    y_train: np.ndarray = None
    y_test: np.ndarray = None
    w: np.ndarray = None

    def __post_init__(self):
        self.X = self.Copy_df.drop(self.target_column, axis=1).values
        self.y = self.Copy_df[self.target_column].values
        self.X_train, self.X_test, self.y_train, self.y_test = train_test_split(self.X, self.y, test_size=0.3, random_state=42)
        self.normalize_data()

    def normalize_data(self):
      epsilon = 1e-10  # A small number to prevent division by zero
      self.mean = np.mean(self.X_train, axis=0)
      self.std = np.std(self.X_train, axis=0) + epsilon  # Adding epsilon
      self.X_train = (self.X_train - self.mean) / self.std
      self.X_test = (self.X_test - self.mean) / self.std



    def sigmoid(self, X):
      z = X.dot(self.w)
      # Clip z to prevent overflow
      #z = np.clip(z, -250, 250)
      sig = 1 / (1 + np.exp(-z))
      return sig


    def predict(self,X):
      sig=self.sigmoid(X)
      return np.around(sig)

    # def cost_function(self,X,y):
    #   sig=self.sigmoid(X)
    #   cost=y*(np.log(sig)) + (1-y)*(np.log(1-sig))
    #   cost=-cost.sum()/len(y)
    #   return cost
    def cost_function(self, X, y):
      sig = self.sigmoid(X)
      # Add a small constant to prevent log(0)
      epsilon = 1e-10
      cost = y * np.log(sig + epsilon) + (1 - y) * np.log(1 - sig + epsilon)
      cost = -cost.sum() / len(y)
      return cost


    def cost_derivative(self,X,y):
      sig=self.sigmoid(X)
      grad=(sig-y).dot(X)
      return grad

    def gradient_descent(self,X,y):
      errors=[]
      previous_error=float('inf')
      for i in tqdm(range(self.max_iteration),colour='red'):
        self.w=self.w-self.learning_rate*self.cost_derivative(X,y)
        current_error=self.cost_function(X,y)
        errors.append(current_error)
        if np.absolute(previous_error-current_error)<self.epsilon:
          print('model stopped learning')
          break
        previous_error=current_error
      #self.plot_cost(errors)

    def efficacy_report(self, y_hat, y):
      y = (y == 1)
      y_hat = (y_hat == 1)

      true_negatives = (~y & ~y_hat).sum()
      true_positives = (y & y_hat).sum()
      predicted_positives = y_hat.sum()
      actual_positives = y.sum()

      accuracy = (true_positives+true_negatives) / y.size
      precision = true_positives / predicted_positives if predicted_positives > 0 else 0
      recall = true_positives / actual_positives if actual_positives > 0 else 0
      f1_score = (2 * recall * precision) / (recall + precision) if (recall + precision) > 0 else 0

      return accuracy,recall, precision, f1_score

#Requirement 1 - remove index function to  receive an index as an input and remove the associated record from the training set
    def remove_index(self,X,y,index):
       X=np.delete(X,index,axis=0)
       y=np.delete(y,index)
       return X,y
       print('{} indexes were removed'.format(index))

    def fit(self,remove_index=[]):
      self.w=np.random.randn(self.X_train.shape[1])
      if(len(remove_index)>0):
        self.X_train,self.y_train=self.remove_index(self.X_train,self.y_train,remove_index)
      self.gradient_descent(self.X_train,self.y_train)
      print(self.w)
      y_hat_train=self.predict(self.X_train)
      accuracy,recall,precision,f1_score=self.efficacy_report(y_hat_train,self.y_train)
      print('the training accuracy was {}'.format(accuracy))
      print('the training recall was {}'.format(recall))
      print('the training precision was {}'.format(precision))
      print('the training f1_score was {}'.format(f1_score))


    def plot_cost(self,cost_sequence):
        s = np.array(cost_sequence)
        t = np.arange(s.size)
        fig, ax = plt.subplots()
        ax.plot(t,s)
        ax.set(xlabel = 'iterations', ylabel = 'cost' , title = 'cost trend')
        ax.grid()
        plt.legend(bbox_to_anchor=(1.05,1), loc=2,shadow=True)
        plt.show()



    def plot(self):
        plt.figure(figsize=(15,10))
        ax = plt.axes(projection='3d')


        ax.scatter3D(self.X_train[:, 0], self.X_train[:, 1],
                     self.sigmoid(self.X_train),
                     c = self.y_train[:], cmap='viridis', s=100);

        ax.set_xlim3d(55, 80)
        ax.set_ylim3d(80,240)
        plt.xlabel('$x_1$ feature', fontsize=15)
        plt.ylabel('$x_2$ feature', fontsize=15 )
        ax.set_zlabel('$P(Y = 1|x_1, x_2)$', fontsize=15, rotation = 0)

    def scatterPlt(self):

        x_min, x_max = self.X_train[:, 0].min() - 1, self.X_train[:, 0].max() + 1
        y_min, y_max = self.X_train[:, 1].min() - 1, self.X_train[:, 1].max() + 1

        xx, yy = np.meshgrid(np.linspace(x_min, x_max, 250),
                             np.linspace(y_min, y_max, 250))
        grid = np.c_[xx.ravel(), yy.ravel()]
        probs = grid.dot(self.w).reshape(xx.shape)

        f, ax = plt.subplots(figsize=(14,12))


        ax.contour(xx, yy, probs, levels=[0.5], cmap="Greys", vmin=0, vmax=.6)


        ax.scatter(self.X_train[:, 0], self.X_train[:, 1],
                   c=self.y_train[:], s=50,
                   cmap="RdBu", vmin=-.2, vmax=1.2,
                   edgecolor="white", linewidth=1)

        plt.xlabel('x1 feature')
        plt.ylabel('x2 feature')


    def plot3D(self):
        x_min, x_max = 55, 80
        y_min, y_max = 80, 240

        xx, yy = np.meshgrid(np.linspace(x_min, x_max, 250),
                             np.linspace(y_min, y_max, 250))

        grid = np.c_[xx.ravel(), yy.ravel()]
        probs = grid.dot(self.w).reshape(xx.shape)
        fig = plt.figure(figsize=(14,12))
        ax = plt.axes(projection='3d')
        ax.contour3D(xx, yy, probs, 50, cmap='binary')

        ax.scatter3D(self.X_train[:, 0], self.X_train[:, 1],
                   c=self.y_train[:], s=50,
                   cmap="RdBu", vmin=-.2, vmax=1.2,
                   edgecolor="white", linewidth=1)

        ax.set_xlabel('x1')
        ax.set_ylabel('x2')
        ax.set_zlabel('probs')
        ax.set_title('3D contour')
        plt.show()

In [48]:
log_reg = LogisticRegression(learning_rate=0.0001, epsilon=0.0000000000000001, max_iteration=50, Copy_df=Copy_df, target_column='readmitted')
log_reg.fit()

100%|██████████| 50/50 [00:00<00:00, 320.95it/s]

[-1.00617014e-02  3.89796803e-02  1.19288067e-02  1.76836919e-02
 -6.71461118e-03 -1.43051593e-02  4.40145568e-02  1.22344121e-02
  1.75912371e-02  1.17135960e-01  3.19610321e-02 -3.93212621e-02
  1.57537184e-02 -4.77625115e-03 -1.92928139e-02 -2.28970570e-02
 -3.34391844e-01 -3.23679655e-02 -4.46289142e-02 -1.84841185e-03
  3.07465359e-03 -3.10590676e-02 -1.18165918e-02  1.70019612e-02
  1.53644931e+00 -1.23421952e-02 -5.72288560e-02 -4.89889401e-04
  2.41351615e+00 -8.05561252e-01 -1.84641570e+00  2.88226888e-01
  6.48341750e-02  6.49697794e-02  9.90302192e-03  1.79275259e-02
 -9.18791119e-01 -9.39619545e-03  1.45744794e-01  6.14771376e-03
  1.35522242e-02 -2.89116420e-03 -4.77547312e-02  3.22874010e-02
  1.66574203e-03  3.33167377e-02 -9.54650627e-01  8.77348381e-03
 -1.65147259e-02 -2.06248862e-02  4.87095156e-03 -4.38050159e-03
 -2.61178716e-02 -9.15649117e-01 -1.61657076e-01 -9.92730820e-01
 -3.44517560e-01 -2.84977059e-01]
the training accuracy was 0.6315827598696124
the training recall was 0.5855404438081604
the training precision was 0.1536150234741784
the training f1_score was 0.24337994644451055

In [53]:
#Neural network
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler, OneHotEncoder
from keras.models import Sequential
from keras.layers import Dense

In [52]:
X = Copy_df.drop('readmitted', axis = 1)
y= Copy_df['readmitted']


# Split the data
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)

# Build the model
model = Sequential()
model.add(Dense(64, input_dim=X_train.shape[1], activation='relu'))
model.add(Dense(32, activation='relu'))
model.add(Dense(16, activation='relu'))
model.add(Dense(8, activation='relu'))

model.add(Dense(1, activation='sigmoid'))  # Change for multi-class classification

#Compile the model
model.compile(optimizer='adam', loss='binary_crossentropy', metrics=['accuracy'])  # Change loss for multi-class

#Train the model
model.fit(X_train, y_train, epochs=10, batch_size=32, validation_split=0.1)

#Evaluate the model
loss, accuracy = model.evaluate(X_test, y_test)
print('Test Accuracy:', accuracy)

Epoch 1/10
444/444 [==============================] - 5s 3ms/step - loss: 10409.5732 - accuracy: 0.8158 - val_loss: 2613.5906 - val_accuracy: 0.9005
Epoch 2/10
444/444 [==============================] - 1s 2ms/step - loss: 3507.5168 - accuracy: 0.8175 - val_loss: 2611.6665 - val_accuracy: 0.9030
Epoch 3/10
444/444 [==============================] - 1s 2ms/step - loss: 2530.5449 - accuracy: 0.8198 - val_loss: 1350.8350 - val_accuracy: 0.8986
Epoch 4/10
444/444 [==============================] - 1s 2ms/step - loss: 2225.7800 - accuracy: 0.8165 - val_loss: 829.7030 - val_accuracy: 0.8866
Epoch 5/10
444/444 [==============================] - 1s 2ms/step - loss: 1182.9342 - accuracy: 0.8183 - val_loss: 889.4484 - val_accuracy: 0.9030
Epoch 6/10
444/444 [==============================] - 1s 2ms/step - loss: 1196.6167 - accuracy: 0.8193 - val_loss: 1020.3856 - val_accuracy: 0.9030
Epoch 7/10
444/444 [==============================] - 1s 2ms/step - loss: 735.7679 - accuracy: 0.8151 - val_loss: 512.3350 - val_accuracy: 0.9030
Epoch 8/10
444/444 [==============================] - 1s 2ms/step - loss: 614.8843 - accuracy: 0.8189 - val_loss: 729.8245 - val_accuracy: 0.9030
Epoch 9/10
444/444 [==============================] - 1s 2ms/step - loss: 399.8761 - accuracy: 0.8177 - val_loss: 120.9272 - val_accuracy: 0.9030
Epoch 10/10
444/444 [==============================] - 1s 3ms/step - loss: 312.8943 - accuracy: 0.8148 - val_loss: 262.3110 - val_accuracy: 0.9030
124/124 [==============================] - 0s 2ms/step - loss: 267.7006 - accuracy: 0.9011
Test Accuracy: 0.9011406898498535